body{ 
    background-color: rgb(69, 60, 43);
    color: rgb(73, 34, 1);
}

#wrapper{
    background-color: rgb(251, 249, 248);
    width: 1000px;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: url(czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcm00OTQtYmctMDA1LXguanBn.webp);
    background-size: cover;
}

h1{
    font-size: 3em;
}

header{
    text-align: center;
    padding-bottom: 20px;
}

main{
    line-height: 1.6em;
    padding-left: 50px;
    padding-right: 50px;
}

footer{
    text-align:center;
    padding-bottom: 10px;
}

